*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
header {
    text-align: center;
    color: rgb(185, 14, 14);
    background-color: rgba(255, 255, 255, 0.164);
    padding: 50px;
}
header h1{
    color: rgb(73, 245, 21);
    margin-bottom: 30px;
    font-size: 45px;
}
header p{
    font-size: 20px;
    background-clip: 5px;
    color: rgb(0, 40, 56);
}
main{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}
article{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
article p{
    margin-top: 16px;
    line-height: 24px;
    color: rgb(5, 100, 88);
}
body{
    font-family: 'poppins', sans-serif;
    background-color: rgb(190, 88, 88);
    color: rgb(1, 19, 13);
}
footer{
    position: relative;
    width: 100%;
    background: rgb(23, 224, 141);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
footer .social_icon,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;
    color: rgb(199, 8, 8);
}
footer .social_icon li a
{
    font-size: 2em;
    color: rgb(209, 61, 16);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translate(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color: rgb(159, 231, 168);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
 color: rgb(102, 63, 5);
 text-align: center;
 margin-top: 15px;
 font-size: 1.1em;
}
